
@model Trakk.Viewmodels.TeamCreateViewModel



        @Html.AntiForgeryToken()

        <div class="form-horizontal" id="@Model.Team.Id">
            <h4>Edit a Team</h4>

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-lg-12">
                    @Html.EditorFor(model => model.Team.Name, new { htmlAttributes = new { @class = "form-control", id = "teamName", placeholder = "Team Name" } })
                    @Html.ValidationMessageFor(model => model.Team.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-12">
                    @Html.DropDownListFor(model => model.Sports, new SelectList(Model.Sports, "Value", "Text"), new { id = "teamSport" })
                </div>
            </div>


            <div class="searchBox col-lg-4">
                <input placeholder="Search a name" class="col-lg-12" id="nameBox">
                <ul class="selected-user-list col-lg-12">
                </ul>
                 <button id="addMember" class="btn btn-default col-lg-12">Add Team Member</button>

            </div>
            <div class="col-lg-8">
                <div class="teamrosterheader col-lg-12">Your Team</div>
                <button id="makeCaptain">Captain</button>
                <button id="makeCommittee">Committee</button>
                <ul class="selected-users col-lg-8">
                    @foreach (var member in Model.Users)
                    {
                        var role = Model.Roles.Where(x => x.UserId == member.Id).FirstOrDefault();

                        <li class="col-xs-6 user-widget @role.Role">
                            <span class="glyphicon glyphicon-remove removeMember"></span>
                            <div class="image"></div><span hidden class="id">@member.Id</span><span class="name">@member.Name</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    
<input type="submit" value="Edit Team" id="editTeam" class="btn btn-default col-lg-12 createteam" />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
