@using API.Helpers
@using Trakk.Models
@model Trakk.Models.Event


@{


    <div class="social-container event-container col-md-3">
        <div class="eventDate">@Model.Start.ToLongDateString() | @Model.Start.TimeOfDay.Hours:@Model.Start.TimeOfDay.ToString().Remove(@Model.Start.TimeOfDay.ToString().Length - 6)</div>
        <div class="title"><h4>@Model.Title</h4>
        </div>
        <div class="social-location">@Model.Location</div>
        <div class="social-comments">@Model.Comments</div>
        <div class="attendance">
            <div class="invited col-lg-3">@Model.Invited</div>
            @Html.Partial("/Views/Partials/AttendancePartial.cshtml", Model)
            <div class="attending col-lg-3">@Model.Attending </div>
        </div>
        


    </div>
              
    }




