@model List<Trakk.Models.TeamMember>
<ul class="user-list col-lg-12">
    <h4>Available Players</h4>
    @foreach (var member in Model)
    {
        if (member.Photo != null)
        {

            string imageBase64 = Convert.ToBase64String(member.Photo);
            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);

        <li class="user-widget" id="@member.Id">
            <div class="image"><img src="@imageSrc"/>
            </div>
            <span class="username">@member.Name</span>
            <div class="clear"></div>
        </li>
        }
        else
        {
            <li class="user-widget" id="@member.Id">
                <div class="image">
                    <img src="~/Images/user.png" />
                </div>
                <span class="username">@member.Name</span>
                <div class="clear"></div>
            </li>
        }
    }
    
</ul>
<script>

    var droppableParent;

    $('.user-widget').draggable({
        revert: 'invalid',
        revertDuration: 200,
        start: function () {
            droppableParent = $(this).parent();

            $(this).addClass('being-dragged');
        },
        stop: function() {
            $(".saveButton").removeClass("saved");
            $(this).removeClass('being-dragged');
            $(".saveButton span").removeClass("glyphicon-saved").addClass("glyphicon-save");
        },
        containment: ".pitchFrame"

    });

</script>
