@using API.Helpers
@using Trakk.Models
@model Trakk.Models.Event


@{


    <div  id="@Model.Id" class="social-container event-container col-lg-3">
        <div class="eventDate">@Model.Start.Value.ToLongDateString() | @Model.Start.Value.ToString("HH:mm")</div>
        <div class="title">
            <h4>@Model.Title</h4>
        </div>
        <div class="social-location">@Model.Location</div>
        <div class="social-comments">@Model.Comments</div>
        <div class="attendance">
            @Html.Partial("/Views/Partials/AttendancePartial.cshtml", Model)
        </div>



    </div>

}






