@using Trakk.Models
@model List<Trakk.Viewmodels.FixtureViewModel>

<p>
    @Html.ActionLink("Create New", "Create", "Fixtures")

</p>

@foreach (var item in Model)
{
    <div class="currentUser" id="@item.UserId"></div>
    <div class="fixture-widget" id="@item.Fixture.Id">
        <a href="@Url.Action("Edit", "Fixtures", new {id = item.Fixture.Id})"><span class="glyphicon glyphicon-pencil edit-team"></span></a>
        <div class="col-xs-12">
            <div class="homeTeam col-xs-5">
                <h4 class="col-xs-12">@item.HomeTeam.Name</h4>
            </div>
            <h2 class="col-xs-2" style="text-align: center"> vs </h2>
            <div class="awayTeam col-xs-5">
                <h4 class="col-xs-12">@item.AwayTeam.Name</h4>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="col-md-6">
                <span class="glyphicon glyphicon-time start-glyphicon"></span>
                @Html.DisplayFor(model => item.Fixture.Start, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Time" } })
                @Html.ValidationMessageFor(model => item.Fixture.Start, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
                <span class="glyphicon glyphicon-time end-glyphicon"></span>
                @Html.DisplayFor(model => item.Fixture.End, new { htmlAttributes = new { @class = "form-control", placeholder = "End Time" } })
                @Html.ValidationMessageFor(model => item.Fixture.End, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-xs-4">
            @Html.DisplayFor(modelItem => item.Fixture.Location)


            @Html.DisplayFor(modelItem => item.Fixture.Comments)

        </div>

        <div class="col-xs-4">
            @Html.DisplayFor(modelItem => item.Fixture.Attending)


            @Html.DisplayFor(modelItem => item.Fixture.Invited)
            @Html.DisplayFor(modelItem => item.Fixture.AttendanceState)

        </div>

        <div class="clear"></div>
        <div>
            
            <div id="mainBody">

            </div>
        </div>
    </div>
}
@section Scripts {
    <script>
        $(document).ready(function() {
            $(".pitchLayout").off('mousedown');
        });

    </script>
}


